
.climateitem {
  height: 230px;
  @include centerContent;

  @media(max-width: 500px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media(max-width: 850px) {
    height: 200px; 
    max-height: 150px;
  }

  &-container {
    @include centerContent;
    background-color: rgb(15, 15, 15, .2);
    flex-direction: column;
    border-radius: 10px;
    height: 100%;
    width: 80%;
    padding: 5px;
    margin: 0 5px 0 5px;

    
    @media(max-width : 500px) {   
      height: 130px;
    }

    @media (max-width: 300px) {
      width: 35px;
      height: 100px;
    }
    
    @media(min-width: 2500px) {   
      height: 25vh
    }

    @media (max-height: 730px) {
      height: 120px;
    }

    span {
      color: white;
      text-align: center;
      font-size: 18px;
      
      @media(max-width : 1000px) {   
        font-size: 12px;
      }

      @media (max-width: 300px) {
        font-size: 10px;
      }

      @media(min-width: 2500px) {   
        @include rfs(2rem);
      }
    }
    
    img {
      height: 70%;
      width: 70%;
      margin: 0 auto;
    }
    
    p {
      color: white;
      text-align: center;
      font-size: 14px;

      @media(max-width: 400px) {   
        font-size: 12px;
      }

      @media(min-width: 2500px) {   
        @include rfs(2rem)
      }

      @media (max-width: 300px) {
        font-size: 10px;
      }
    }
  }   
}