
$secondary-left:  rgba(32, 32, 41, 0.9);
$secondary-right:  rgba($color: #282c66, $alpha: 1.0);
$secondary-itemUP:  rgba(23, 23, 68, 0.4);
$secondary-DetailUP:  rgba(39, 39, 73, 0.5);
$secondary-DetailDown:  rgba(39, 39, 73, 0.7);

$secondary-black:  #000000;
$secondary-white:  #ffffff;

$font-family: 'Roboto', sans-serif;
$font-primary-color: white;
$font-secondary-color: rgb(189, 167, 167);
$font-search: gray;

// TODO: ARREGLAR LAS VARIABLES! 